$primary-color: #0366d6;
$text-color: #586069;
$border-white: #e8e8e8;
$white: #fff;
$black: #000;
$container-width: 1100px;
$gray: #666;
$title-gray: #999;
$body-background: $white;
$icon-gray: #959DA5;
