@import "variables";
@import "helpers";

html, body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: $body-background;
}

.container {
    width: 980px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    background-color: #fafbfc;
    border-bottom: 1px solid #e1e4e8;
}

.repo-icon {
    width: 16px;
    color: $icon-gray;
}

.text-color-primary {
    color: $primary-color;
}

.slash-divider {
    color: $text-color;
    margin: 0 5px;
}

.repo-name {
    font-weight: bold;
}

.button {
    font-weight: 600;
    cursor: pointer;
    line-height: 20px;
    color: #24292e;
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
    position: relative;
    display: inline-block;
    padding: 6px;
    font-size: 14px;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid rgba(27, 31, 35, 0.2);
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.button:hover {
    background-color: #e6ebf1;
    background-image: linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%);
    background-position: -.5em;
    border-color: rgba(27, 31, 35, 0.35);
}

.button-counter {
    padding: 3px 10px;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid rgba(27, 31, 35, 0.2);
    border-left: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.button-counter:hover {
    color: #0366d6;
    cursor: pointer;
}

.tabs {
    position: relative;
    top: 1px;
    margin-top: -5px;
    cursor: pointer;
}

.tab-item {
    float: left;
    padding: 7px 15px 8px;
    color: #586069;
    white-space: nowrap;
    border: solid transparent;
    border-width: 3px 1px 1px;
    border-radius: 3px 3px 0 0;
}

.tab-item-selected {
    color: #24292e;
    background-color: #fff;
    border-color: #e36209 #e1e4e8 white;
}

.counter {
    display: inline-block;
    padding: 2px 5px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    color: #24292e;
    background-color: rgba(27, 31, 35, 0.08);
    border-radius: 20px;
}

.icon-black {
    color: #24292e;
}

.table-header {
    position: relative;
    margin-top: 20px;
    background-color: #f6f8fa;
    border: 1px solid #e1e4e8;
    border-radius: 3px 3px 0 0;
}

.stats {
    position: relative;
    display: inline-block;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 14px;
    cursor: pointer;
}

.stats.selected {
    font-weight: 600;
}

.filter-button {
    font-size: 14px;
    color: #586069;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    padding-top: 13px;
    padding-bottom: 13px;
    font-weight: 400;
}

.table-row {
    padding: 8px 16px;
    margin-top: -1px;
    list-style-type: none;
    border-top: 1px solid #e1e4e8;
    line-height: 20px;
}

.icon-green {
    color: #28a745;
}
.issue-title {
    font-weight: 600;
    font-size: 16px;
}
.border-box{
    border: 1px #e1e4e8 solid;
}
.issue-description{
    font-size: 12px;
    color: #586069;
}
.text-bold{
    font-weight: bold;
}
.text-gray{
    color: #586069;
}
.comments-count{
    vertical-align: middle !important
}

.issue-label{
    height: 20px;
    padding: 0.15em 4px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 2px;
    box-shadow: inset 0 -1px 0 rgba(27,31,35,0.12);
    line-height: 1.5 !important;
}
.pagination{
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
}
.pagination > li {
    position: relative;
    float: left;
    padding: 7px 12px;
    margin-left: -1px;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    color: #0366d6;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #fff;
    border: 1px solid #e1e4e8;
}
.pagination > .break-me > a {
    text-decoration: none;
}

.footer {
    border-top: 1px #e1e4e8 solid !important;
    margin-top: 20px;
    padding-top: 20px;
}
.footer-link{
    color: #0366d6;
    cursor: pointer;
}
